$BandSite-Black: #323232;
$font-stack: Avenir Next, san-serif;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

@mixin font-style ($weight, $size) {
  font-weight: $weight;
  font-size: $size;
}

@mixin tablet {
  @media (min-width: 768px) {
    @content
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content
  }
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  margin-bottom: 30vh;
}

* {
  box-sizing: border-box;
  font-family: $font-stack;
}

.nav {
  width: 100%;
  height: 80px;
  background-color: $BandSite-Black;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  justify-content: space-between;

  @include tablet {
    flex-direction: row;
    padding-top: 0;
    justify-content: flex-start;
  }

  &__logo {
    width: 100%;
    display: flex;
    justify-content: center;

    @include tablet {
      width: 30%;
      padding-left: 48px;
      padding-right: 48px;
    }

    @include desktop {
      width: 25%;
      padding-left: 80px;
      padding-right: 80px;
    }


    img {
      width: 30%;

      @include tablet {
        width: 100%;
      }
    }


  }

  &__menu {
    width: 100%;
    display: flex;
    padding: 0;

    @include tablet {
      align-items: center;
      height: 100%;
    }

    &-item {
      width: 50%;
      text-align: center;
      display: block;

      &:hover,
      &:active {
        color: white;
        text-decoration-thickness: 2px;
      }

      @include tablet {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 30%;
      }

      @include tablet {
        width: 10%;
      }


      &-underline {
        border-bottom: 2px solid white !important;

      }


      color: white;
      text-decoration: none;

    }
  }
}

.header {
  background-image: url(../Assets/Images/hero-bio.jpg);
  background-position: center;
  height: 248px;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 16px;

  @include tablet {
    height: 588px;
    padding-left: 48px;
  }

  @include desktop {
    padding-left: 80px;
  }

  &__text {
    @include font-style(700, 24px);
    color: white;
    width: 100%;

    @include tablet {
      @include font-style(700, 60px);
    }

  }
}

.main {
  padding: 24px 16px;
  width: 100%;

  @include tablet {
    padding: 36px 48px;
  }

  @include desktop {
    padding: 36px 80px;
  }


  &__heading {
    margin-top: 0;
    @include font-style(700, 24px);

    @include tablet {
      @include font-style(700, 36px);
    }
  }

  &__image {
    width: 100%;

    @include tablet {
      display: block;
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__quote {
    @include font-style(600, 14px);

    @include tablet {
      @include font-style(600, 24px);
    }

    @include desktop {
      padding-left: 80px;
      padding-right: 80px;
    }

    &-author {
      @include font-style(600, 14px);

      @include tablet {
        @include font-style(500, 18px);
      }

      @include desktop {
        padding-left: 80px;
        padding-right: 80px;
      }
    }
  }

  &__section {
    &-header {
      @include font-style(500, 13px);

      @include tablet {
        @include font-style(600, 24px);
      }

      @include desktop {
        padding-left: 80px;
        padding-right: 80px;
      }
    }

    &-paragraph {
      @include font-style(400, 13px);

      @include tablet {
        @include font-style(500, 16px);
        column-count: 2;
      }

      @include desktop {
        padding-left: 80px;
        padding-right: 80px;
      }
    }
  }

}

.gallery {
  width: 100%;

  background-color: $Alabaster;
  padding: 16px;

  @include desktop {
    padding: 24px 80px;
  }

  &__title {
    @include font-style(700, 24px);

    @include tablet {
      @include font-style(700, 36px);
      padding-left: 48px;
    }

    @include desktop {
      padding-left: 0px;
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    img {
      width: 100%;

      @include tablet {
        width: 25%;
        flex-grow: 1;
      }
    }
  }

}


.footer {
  background-color: $BandSite-Black;

  &__contacts {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    gap: 24px;
    color: white;
    padding-top: 24px;
    padding-bottom: 48px;

    @include tablet {
      flex-direction: row;
      padding-left: 48px;
    }

    @include desktop {
      padding-left: 80px;
      gap: 80px;
    }


  }

  &__copyright {
    @include font-style(400, 13px);
    padding-left: 16px;
    color: white;
    padding-bottom: 16px;
    padding-top: 8px;

    @include tablet {
      @include font-style(400, 14px);
      padding-left: 48px;
    }

    @include desktop {
      padding-left: 80px;
    }
  }


  &__contact {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-name {
      @include font-style(600, 13px);

      @include tablet {
        @include font-style(600, 14px);
      }
    }

    &-address,
    &-email {
      @include font-style(400, 13px);

      @include tablet {
        @include font-style(400, 14px);
      }
    }
  }

  &__socialmedia {
    width: 100%;
    padding-left: 16px;
    display: flex;
    flex-direction: column;

    &-logo {
      flex-grow: 1;
      align-items: center;
      justify-content: flex-end;
      padding-right: 64px;
      display: none;

      @include tablet {
        display: flex;
      }

      @include desktop {
        padding-right: 80px;
      }
    }

    @include tablet {
      flex-direction: row;
      padding-left: 48px;
      justify-content: space-between;
    }

    @include desktop {
      padding-left: 80px;

    }

    h3 {
      @include font-style(700, 24px);
      color: white;

      @include tablet {
        @include font-style(700, 36px);
      }
    }

    &-icons {
      display: flex;
      align-items: center;
      gap: 24px;

      @include tablet {
        padding-left: 48px;
      }
    }
  }

  &__logo {
    padding-left: 16px;

    @include tablet {
      display: none;
    }


  }

}